/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  /* Header Styles */
  header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  header h1 {
    margin: 0;
    font-size: 36px;
  }
  
  header .department {
    margin: 0;
    font-size: 18px;
    color: #cccccc;
  }
  
  /* Navigation Menu */
  nav {
    background-color: #005599;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* Profile Section */
  .profile-section {
    padding: 20px;
    text-align: center;
    
  }
  
  h2 {
    font-size: 28px;
    color: #032d72;
  }
  
  table {
    margin: 100px auto;
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  table th {
    background-color: #005599;
    color: white;
  }
  
  table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  table tr:hover {
    background-color: #f1f1f1;
  }
  
  footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 10;
    position: relative;
    
    margin-top: 200;
    width: 100%;
  }
  